<div>
  <px-tabs [(selected)]="selectedTab" attr-for-selected="tab-name" emitChanges>
    <px-tab tab-name="tab1">Tab 1</px-tab>
    <px-tab tab-name="tab2">Tab 2</px-tab>
    <px-tab tab-name="tab3">Tab 3</px-tab>
  </px-tabs>
  <iron-pages [(selected)]="selectedTab" attr-for-selected="tab-name">
    <div tab-name="tab1">Tab 1 content</div>
    <div tab-name="tab2">Tab 2 content</div>
    <div tab-name="tab3">Tab 3 content</div>
  </iron-pages>
</div>
<div>
  <h4>Selected Tab: {{selectedTab}}</h4>
</div>
