<px-breadcrumbs [items]="breadcrumbsGraph" [(selectedRoute)]="selectedRoute" search-mode emitChanges>
</px-breadcrumbs>

<div style="color: red;">
  Change breadcrumb doesn't get reflected in selectedRoute but throws error
  <pre>
    The following item could not be found in the items graph: {{'{}'}}
</pre> source of which is in _dropdownTap function event.target.selected & evt.target.items points to px-breadcrumb instead of
  px-dropdown
  <div style="color: green;">
    The issue is fixed in <span style="font-weight: bold;">git@github.build.ge.com:212591749/px-breadcrumbs.git#f6f42dd</span>
  </div>
</div>

<div>
  Currently selected route is:<br/> {{selectedRoute | json}}
</div>
