<px-alert-message type="important" message-title="Heads up!" message="Important: This definitely needs our attention." action="dismiss"
  auto-dismiss="5000" language="en">
</px-alert-message>

<px-alert-message type="information" message-title="Heads up!" message="Acknowledge Info: This definitely needs our attention."
  action="acknowledge" auto-dismiss="8000" language="en">
</px-alert-message>

<px-alert-message type="error" action="https://www.predix.io/" message-title="Our Bad!" message="Error! Sed ultrices feugiat ligula, ullamcorper ornare sem egestas at. Duis maximus enim vitae mi faucibus, vitae eleifend augue iaculis. Quisque sit amet ligula eget mi elementum condimentum imperdiet et libero. Aenean lacus nulla, consequat ut nunc vel, consectetur mollis elit. Aenean bibendum purus nec felis iaculis ornare. Duis pellentesque vehicula lacus, id fringilla turpis pulvinar vel. Vivamus velit purus, ultrices at felis ac, suscipit semper neque"
  auto-dismiss="0">
</px-alert-message>

<px-alert-message type="custom" action="acknowledge" auto-dismiss="9000" language="en">
  <div>
    Custom content expands till the width of icon only
  </div>
</px-alert-message>
