<px-accordion-group>
  <px-accordion [headerValue]="'Accordion 1'" [showAction]="false" status="Last updated 3 days ago" [icons]="{ 'more': 'px-utl:chevron-right', 'less': 'px-utl:chevron', 'action': 'px-utl:edit' }">
    Accordion 1 content goes here.
  </px-accordion>
  <px-accordion [headerValue]="'Accordion 2'">
    Accordion 1 content goes here.
  </px-accordion>
</px-accordion-group>
<div>
  <span style="font-weight:bold;">BUG:</span>Clicking on Expand All opens disabled accordion

</div>
